<div id="author-wrapper">
    <div class="box">
        <hr>
        <h2 class="intro-text text-center">
            Authors
        </h2>
        <hr>
        <script id="author-list-template" type="x-mustache-template">
            <ul id="author-list">
                <li>
                    <a>{{author.Name}}</a>
                </li>
            </ul>
        </script>
    </div>
    <div class="box">
        <div class="form-group col-sm-4">
            <input type="text" id="authorName" class="form-control" />
        </div>
        <button class="btn btn-default">Add New Author</button>
        <button class="btn btn-default">Delete Author By Name</button>
    </div>
</div>


