<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LibraryConnection" connectionString="Server=6213cede-da39-416a-9b34-a3a900945b60.sqlserver.sequelizer.com;Database=db6213cededa39416a9b34a3a900945b60;User ID=asqrmgnwylweelip;Password=7PSU7CN3xFjfcWX6JuMwELAwQqufYYLq4TBjuhbDcUr6ezYkK5HXV5gtnueQiHcG;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>